/* src/components/SearchBar.css */
.search-bar {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

.search-bar input {
    padding: 0.75rem;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.search-button {
    padding: 0.75rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
