/* src/App.css */
.app-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000;
  color: #fff;
}

.app-header h1 {
  margin: 0;
}

.submit-request {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.hero-section {
  text-align: center;
  padding: 2rem 0;
  background-color: #E8E8F9;
}

.hero-section h2 {
  margin-bottom: 1rem;
}

.grid-container{
  /* padding: 10px 40px;
   */
   display: flex;
   justify-content: center;
   align-items: center;
}

.app-footer {
  margin-top: auto;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.app-footer {
  margin-top: auto;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  text-align: center;
}
/* 
.footer-nav {
  margin-top: 0.5rem;
}

.footer-nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
} */